<html xmlns:th="http://www.thymeleaf.org" lang="en">

<script type="text/javascript" th:src="@{/jquery-form/jquery.form.js}"></script>
<script type="text/javascript">


    function addRole() {
        var ajaxFormOption = {
            type: "post", //提交方式
            dataType: "json", //数据类型
            data: $("#addRole").serialize(),//自定义数据参数，视情况添加
            url: "/role/add", //请求url
            beforeSerialize: function () {
                $("#id").val(uuid());
            },

            success: function (data) { //提交成功的回调函数
                if (data) {
                    alert("添加成功");
                    openPage('/role/list');
                } else {
                    alert("添加失败");
                }

                console.log($(".app-content").html());
            },
            clearForm: true, //提交成功后是否清空表单中的字段值
            restForm: true, //提交成功后是否重置表单中的字段值，即恢复到页面加载时的状态
            timeout: 6000
        };
        console.log($("#addRole").serialize());
        $("#addRole").ajaxForm(ajaxFormOption);
        $("#addRole").submit();
    }

    function editRole(id) {
        var formId = "#" + id;
        console.log(id);
        console.log(formId);
        console.log($(formId).serialize());
        $.ajax({
            type: "post", //提交方式
            dataType: "json", //数据类型
            data: $(formId).serialize(),//自定义数据参数，视情况添加
            url: "/role/update", //请求url
            success: function (data) { //提交成功的回调函数
                if (data) {
                    alert("编辑成功");
                    openPage('/role/list');
                } else {
                    alert("编辑失败");
                }
            }
        });
    }

    function change(id, status) {
        var statusTo = (status == 0 ? 1 : 0);
        $.ajax({
            type: "post",
            url: "/role/del",
            data: {
                "id": id,
                "status": statusTo
            },
            success: function (data) {
                if (data)
                    openPage('/role/list');
                alert("操作成功");
            }

        });
    }


    function load(currentPage) {
        $.ajax({
            type: "post",
            url: "/role/list",
            data: "page=" + currentPage,
            success: function (data) {
                $(".app-content").html(data);

            }

        });
    }
</script>

<!-- 当前页标题 -->
<div class="app-title">
    <div>
        <h1>
            <i class="fa fa-dashboard"></i> 职位管理
        </h1>
        <p>职位添加、修改、查询、删除等</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
    </ul>
</div>


<div class="row">


    <!-- 页面内容 -->
    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">职位列表</h3>
            <p>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#myModalAdd">添加
                </button>
            </p>
            <!-- ModalAdd -->
            <div class="modal" id="myModalAdd" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">

                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">添加职位</h4>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" id="addRole">
                                <input type="hidden" id="id" name="id">
                                <div class="form-group">
                                    <label class="control-label">职位名称</label> <input
                                        type="text" required="required" class="form-control"
                                        id="inputname" name="name" placeholder="职位名称">
                                </div>

                                <div class="form-group">
                                    <label for="descr" class="control-label col-md-3">职位描述</label>
                                    <textarea name="descr" class="form-control" placeholder="职位描述"
                                              id="descr"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="comments" class="control-label col-md-3">备注</label>
                                    <textarea name="comments" class="form-control" placeholder="备注"
                                              id="comments"></textarea>
                                </div>


                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary"
                                    onclick="addRole()" data-dismiss="modal">保存
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>序号</th>
                                <th>职位名称</th>
                                <th>职位描述</th>
                                <th>职位状态</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="role,iterStat : ${pageInfo.list}">
                                <td><input type="checkbox"></td>
                                <th scope="row" th:text="${iterStat.count}"></th>
                                <td th:text="${role.name}"></td>
                                <td th:text="${role.descr}"></td>
                                <td th:text="${role.status=='0' ? '禁用中':'启用中'}"></td>
                                <td th:text="${role.comments}"></td>
                                <td>
                                    <button class="btn btn-info" th:onclick="'openModal('+'edit'+${role.id}+')'">编辑
                                    </button> <!-- Modaledit -->
                                    <div class="modal" th:id="'edit'+${role.id}"
                                         tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel">编辑职位信息</h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>

                                                </div>
                                                <div class="modal-body">
                                                    <form class="form-horizontal"
                                                          th:id="'editForm'+${role.id}">
                                                        <input type="hidden" id="id" name="id"
                                                               th:value="${role.id}">
                                                        <div class="form-group">
                                                            <label for="editname" class="control-label">职位名称</label>
                                                            <input type="text" required="required"
                                                                   class="form-control" id="inputname" name="name"
                                                                   placeholder="职位名称" th:value="${role.name}">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="inputdescr" class="control-label">职位描述</label>
                                                            <input type="text" required="required"
                                                                   class="form-control" id="inputdescr" name="descr"
                                                                   placeholder="职位描述" th:value="${role.descr}">
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                            <label for="comments"
                                                                   class="control-label">备注</label>
                                                            <textarea required="required"
                                                                      class="form-control" id="comments"
                                                                      name="comments" placeholder="备注……"
                                                                      th:text="${role.comments}"></textarea>
                                                        </div>
                                                    </form>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default"
                                                            data-dismiss="modal">关闭
                                                    </button>
                                                    <button type="button" class="btn btn-primary"
                                                            th:onclick="'editRole('+'\''+'editForm'+${role.id}+'\''+')'"
                                                            data-dismiss="modal">保存
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <button th:class="${role.status == '0' ? 'btn btn-success' : 'btn btn-warning'}"
                                            th:onclick="'openModal('+'change'+${role.id}+')'"
                                            th:text="${role.status == '0' ? '启用':'禁用'}">
                                    </button>
                                    <div class="modal" th:id="'change'+${role.id}" tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel"
                                                        th:text="确认+${role.status == 1?'禁用':'启用'}+？">
                                                    </h4>
                                                    <button type="button" class="close"
                                                            data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-info"
                                                            data-dismiss="modal">关闭
                                                    </button>
                                                    <button type="button" data-dismiss="modal"
                                                            class="btn btn-danger"
                                                            th:onclick="'change('+'\''+ ${role.id} + '\'' +','+'\''+${role.status}+'\''+')'">
                                                        确认
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="sampleTable_info" role="status"
                         aria-live="polite"
                         th:text="'共'+${pageInfo.total}+'条数据，共'+${pageInfo.pages}+'页，当前第'+${pageInfo.pageNum}+'页'"></div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers"
                         id="sampleTable_paginate">
                        <ul class="pagination">
                            <li th:class="'paginate_button page-item previous '+${pageInfo.pageNum-1 > 0 ? '':'disabled'}"
                                id="sampleTable_previous">
                                <a href="javascript:void(0)"
                                   aria-controls="sampleTable" th:data-dt-idx="${pageInfo.prePage}" tabindex="0"
                                   class="page-link"
                                   th:onclick="'load('+'\''+${pageInfo.pageNum-1 >0 ? pageInfo.pageNum-1 : pageInfo.pageNum}+'\''+')'">Previous</a>
                            </li>
                            <!--<li th:class="'paginate_button page-item  '+${pageInfo.pageNum == page.count ? 'active' : ''}"-->
                            <!--th:onclick="'load('+'\''+${roleStat.count}+'\''+')'"  th:each="page : ${pageInfo.pages}"><a href="javascript:void(0)"-->
                            <!--aria-controls="sampleTable"-->
                            <!--th:data-dt-idx="${page.count}"-->
                            <!--tabindex="0"-->
                            <!--class="page-link"-->
                            <!--th:text="${page.count}"></a>-->
                            <!--</li>-->
                            <li th:class="'paginate_button page-item next '+${pageInfo.pageNum < pageInfo.pages ? '':'disabled'}"
                                id="sampleTable_previous">
                                <a href="javascript:void(0)"
                                   aria-controls="sampleTable" th:data-dt-idx="${pageInfo.nextPage}" tabindex="0"
                                   class="page-link"
                                   th:onclick="'load('+'\''+${pageInfo.nextPage<pageInfo.pages ? pageInfo.nextPage:pageInfo.pages}+'\''+')'">Next</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


</html>