<html xmlns:th="http://www.thymeleaf.org" lang="en">
<script type="text/javascript" th:src="@{/jquery-form/jquery.form.js}"></script>
<script type="text/javascript">

    $(function () {
        $.ajax({
            type: "post",
            url: "/role/lista",
            success: function (data) {
                var dataString = eval(data);
                for (i in dataString) {
                    var chOpetionadd = $("<option value=" + dataString[i].id + ">" + dataString[i].name + "</option>")
                    $(".position").append(chOpetionadd);

                }
                $("#addposition").html($(".position").html());
            }
        })

    });

    function addStaff() {
        var ajaxFormOption = {
            type: "post", //提交方式
            dataType: "json", //数据类型
            data: $("#addStaff").serialize(),//自定义数据参数，视情况添加
            url: "/staff/add", //请求url
            beforeSerialize: function () {
                $("#id").val(uuid());
            },

            success: function (data) { //提交成功的回调函数
                if (data) {
                    alert("添加成功");
                    openPage('/staff/listStaffs2');
                } else {
                    alert("添加失败");
                }

                console.log($(".app-content").html());
            },
            clearForm: true, //提交成功后是否清空表单中的字段值
            restForm: true, //提交成功后是否重置表单中的字段值，即恢复到页面加载时的状态
            timeout: 6000
        };
        //console.log($("#addStaff").serialize());
        $("#addStaff").ajaxForm(ajaxFormOption);
        $("#addStaff").submit();
    }

    function editStaff(id) {
        var formId = "#" + id;
        //console.log(id);
        //console.log(formId);
        //console.log($(formId).serialize());
        $.ajax({
            type: "post", //提交方式
            dataType: "json", //数据类型
            data: $(formId).serialize(),//自定义数据参数，视情况添加
            url: "/staff/update", //请求url
            success: function (data) { //提交成功的回调函数
                if (data) {
                    alert("编辑成功");
                    openPage('/staff/listStaffs2');
                } else {
                    alert("编辑失败");
                }
            }
        });
    }

    function change(id, status) {
        var statusTo = (status == 0 ? 1 : 0);
        $.ajax({
            type: "post",
            url: "/staff/del",
            data: {
                "id": id,
                "status": statusTo
            },
            success: function (data) {
                if (data)
                    openPage('/staff/listStaffs2');
                alert("操作成功");
            }

        });
    }
</script>

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> 员工管理</h1>
        <p>员工添加、删除、修改、查询等</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active"><a href="#">Data Table</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="tile">
            <p>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#myModalAdd">添加
                </button>
            </p>
            <!-- ModalAdd -->
            <div class="modal" id="myModalAdd" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">

                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">添加员工</h4>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" id="addStaff">
                                <input type="hidden" id="id" name="id">
                                <div class="form-group">
                                    <label class="control-label">姓名</label> <input
                                        type="text" required="required" class="form-control"
                                        id="inputname" name="name" placeholder="姓名">
                                </div>

                                <div class="form-group">
                                    <label class="control-label">年龄</label>
                                    <input
                                            type="text" required="required" class="form-control"
                                            id="inputage" name="age" placeholder="年龄">
                                </div>

                                <div class="form-group">
                                    <label for="sex" class="control-label">性别</label>
                                    <select name="sex" class="form-control">
                                        <option value="3">未知</option>
                                        <option value="0">女</option>
                                        <option value="1">男</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="address" class="control-label">地址</label> <input
                                        type="text" required="required" class="form-control"
                                        id="address" name="address" placeholder="地址">
                                </div>

                                <div class="form-group">
                                    <label for="phoneNum" class="control-label col-md-3">手机号</label>
                                    <input type="number" maxlength="11" required="required" class="form-control"
                                           id="phoneNum" name="phoneNum" placeholder="手机号">
                                </div>
                                <div class="form-group">
                                    <label for="censusRegister" class="control-label col-md-3">户籍</label>
                                    <input type="text" required="required" class="form-control"
                                           id="censusRegister" name="censusRegister" placeholder="户籍">
                                </div>
                                <div class="form-group">
                                    <label for="position" class="control-label col-md-3">职位</label>
                                    <select id="addposition" name="position" class="form-control"></select>
                                </div>
                                <div class="form-group">
                                    <label for="comments" class="control-label col-md-3">备注</label>
                                    <textarea name="comments" class="form-control" placeholder="备注"
                                              id="comments"></textarea>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary"
                                    onclick="addStaff()" data-dismiss="modal">保存
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile-body">
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>序号</th>
                        <th>姓名</th>
                        <th>年龄</th>
                        <th>性别</th>
                        <th>地址</th>
                        <th>手机号</th>
                        <th>户籍</th>
                        <th>职位</th>
                        <th>备注</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="staff,iterStat : ${pageInfo}">
                        <td><input type="checkbox"></td>
                        <th scope="row" th:text="${iterStat.count}"></th>
                        <td th:text="${staff.name}"></td>
                        <td th:text="${staff.age}"></td>
                        <td th:text="${staff.sex == '1' ? '男':'女'}"></td>
                        <td th:text="${staff.address}"></td>
                        <td th:text="${staff.phoneNum}"></td>
                        <td th:text="${staff.censusRegister}"></td>
                        <td th:text="${staff.role.name}"></td>
                        <td th:text="${staff.comments}"></td>
                        <td th:text="${staff.status==0 ? '禁用中':'启用中'}"></td>
                        <td>
                            <button class="btn btn-info" th:onclick="'openModal('+'edit'+${staff.id}+')'">编辑
                            </button> <!-- Modaledit -->
                            <div class="modal" th:id="'edit'+${staff.id}"
                                 tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">编辑员工信息</h4>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>

                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal"
                                                  th:id="'editForm'+${staff.id}">
                                                <input type="hidden" id="id" name="id"
                                                       th:value="${staff.id}">
                                                <div class="form-group">
                                                    <label for="editname" class="control-label">姓名</label>
                                                    <input type="text" required="required"
                                                           class="form-control" id="inputname" name="name"
                                                           placeholder="姓名" th:value="${staff.name}">
                                                </div>

                                                <div class="form-group">
                                                    <label for="editage" class="control-label">年龄</label>
                                                    <input type="text" required="required"
                                                           class="form-control" id="inputage" name="age"
                                                           placeholder="年龄" th:value="${staff.age}">
                                                </div>

                                                <div class="form-group">
                                                    <label for="sex"
                                                           class="control-label">性别</label>
                                                    <select class="form-control" name="sex">
                                                        <option th:value="${staff.sex}"
                                                                th:text="${staff.sex =='0'?'女':'男'}">未知
                                                        </option>
                                                        <option value="0">女</option>
                                                        <option value="1">男</option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="address"
                                                           class="control-label">地址</label>
                                                    <input type="text" required="required"
                                                           class="form-control" id="address"
                                                           name="address" placeholder="地址"
                                                           th:value="${staff.address}">
                                                </div>

                                                <div class="form-group">
                                                    <label for="phoneNum"
                                                           class="control-label">电话</label>
                                                    <input type="number" required="required"
                                                           class="form-control" id="phoneNum"
                                                           name="phoneNum" placeholder="电话"
                                                           th:value="${staff.phoneNum}">
                                                </div>

                                                <div class="form-group">
                                                    <label for="censusRegister"
                                                           class="control-label">户籍</label>
                                                    <input type="text" required="required"
                                                           class="form-control" id="censusRegister"
                                                           name="censusRegister" placeholder="户籍"
                                                           th:value="${staff.censusRegister}">
                                                </div>

                                                <div class="form-group">
                                                    <label for="position"
                                                           class="control-label">职位</label>
                                                    <select id="editposition" class="form-control position"
                                                            name="position">
                                                        <option th:value="${staff.role.id}"
                                                                th:text="${staff.role.name}">
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="comments"
                                                           class="control-label">备注</label>
                                                    <textarea required="required"
                                                              class="form-control" id="comments"
                                                              name="comments" placeholder="备注……"
                                                              th:text="${staff.comments}"></textarea>
                                                </div>
                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">关闭
                                            </button>
                                            <button type="button" class="btn btn-primary"
                                                    th:onclick="'editStaff('+'\''+'editForm'+${staff.id}+'\''+')'"
                                                    data-dismiss="modal">保存
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <button th:class="${staff.status == '0' ? 'btn btn-success' : 'btn btn-warning'}"
                                    th:onclick="'openModal('+'change'+${staff.id}+')'"
                                    th:text="${staff.status == '0' ? '启用':'禁用'}">
                            </button>
                            <div class="modal" th:id="'change'+${staff.id}" tabindex="-1"
                                 role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel"
                                                th:text="确认+${staff.status == 1?'禁用':'启用'}+？">
                                            </h4>
                                            <button type="button" class="close"
                                                    data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-info"
                                                    data-dismiss="modal">关闭
                                            </button>
                                            <button type="button" data-dismiss="modal"
                                                    class="btn btn-danger"
                                                    th:onclick="'change('+'\''+ ${staff.id} + '\'' +','+'\''+${staff.status}+'\''+')'">
                                                确认
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Essential javascripts for application to work-->
<!--<script th:src="@{/vali-theme/js/jquery-3.2.1.min.js}"></script>-->
<!--<script th:src="@{/vali-theme/js/popper.min.js}"></script>-->
<!--<script th:src="@{/vali-theme/js/bootstrap.min.js}"></script>-->
<!--<script th:src="@{/vali-theme/js/main.js}"></script>-->
<!-- The javascript plugin to display page loading on top-->
<!--<script th:src="@{/vali-theme/js/plugins/pace.min.js}"></script>-->
<!-- Page specific javascripts-->
<!-- Data table plugin-->
<script type="text/javascript" th:src="@{/vali-theme/js/plugins/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/vali-theme/js/plugins/dataTables.bootstrap.min.js}"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
<!-- Google analytics script-->
<script type="text/javascript">
    if (document.location.hostname == 'pratikborsadiya.in') {
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-72504830-1', 'auto');
        ga('send', 'pageview');
    }
</script>
</html>