<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.syske.staffmanagementsystem.dao.ProjectDAO">

    <resultMap id="coverPrincipal" type="project">
        <id property="id" column="id" />
        <result property="name" column="name"/>
        <result property="startTime" column="startTime" />
        <result property="endTime" column="endTime" />
        <result property="budget" column="budget" />
        <result property="files" column="files" />
        <result property="descr" column="descr" />
        <result property="comments" column="comments" />
        <result property="location" column="location" />
        <result property="status" column="status" />
        <association property="staff" javaType="staff">
            <id property="id" column="sid" />
            <result property="name" column="sname"/>
        </association>

    </resultMap>

    <select id="listProjects" resultMap="coverPrincipal">
        select p.*,s.id sid,s.name sname
        from project p
        left join staff s
        on principal = s.id
    </select>

    <select id="getProject" parameterType="staff" resultType="project">
        select * from project
        <where>
            <if test="id != null" >
                and id = #{id}
            </if>
        </where>
    </select>

    <insert id="insertProject" parameterType="project">
        insert into project
        (id, name, startTime, endTime, budget, files, principal, descr, location)
        value (#{id}, #{name}, #{startTime}, #{endTime}, #{budget}, #{files}, #{staff.id}, #{descr}, #{location})
    </insert>

    <update id="updateProject" parameterType="project">
        update project
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="startTime != null">startTime = #{startTime},</if>
            <if test="endTime != null">endTime = #{endTime},</if>
            <if test="budget != null">budget = #{budget},</if>
            <if test="files != null">files = #{files},</if>
            <if test="staff.id != null">principal = #{staff.id},</if>
            <if test="descr != null">descr = #{descr},</if>
            <if test="location != null">location = #{location},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

</mapper>